<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Show view</title>
  <style>
    .form-button-area { text-align: right; width: 400px; }
  </style>
</head>
<body>

	<h2>Details for an enrollment</h2>

  <div class="form-button-area">
    <button id="edit-button" type="button" onClick="window.location='./edit'">Edit</button>
    <button id="cancel-button" type="button" onClick="window.location='../'">Cancel</button>
  </div>

  <div class="form-row">
    <label class="form-label" for="event">Event</label>
    <select class="form-input" id="event" disabled>
      <% if (events && events.length) { %>
        <% events.forEach(function(event){ %>
          <% if (event._id == enrollment.event) { %>
            <option value="<%= event._id %>" selected><%= event.title %></option>
          <% } %>
          <% if (event._id != enrollment.event) { %>
            <option value="<%= event._id %>"><%= event.title %></option>
          <% } %>
        <% }) %>
      <% } %>
    </select>
    <div class="clear" />
  </div>
  <div class="form-row">
    <label class="form-label" for="user">User</label>
    <select class="form-input" id="user" disabled>
      <% if (users && users.length) { %>
        <% users.forEach(function(user){ %>
          <% if (user._id == enrollment.user) { %>
            <option value="<%= user._id %>" selected><%= user.name %></option>
          <% } %>
          <% if (user._id != enrollment.user) { %>
            <option value="<%= user._id %>"><%= user.name %></option>
          <% } %>
        <% }) %>
      <% } %>
    </select>
    <div class="clear" />
  </div>

</body>
</html>