<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" charset="utf-8" />
	<title>Gamified : Checkpoint <%= checkpoint.title %></title>
	<link rel='stylesheet' href='/stylesheets/participant.css'/>
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Arvo' />
	<link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css'>
	<script data-main="/javascripts/can.helper.min.js" src="/dependencies/libs/require-jquery.js"></script>
	<script src="/javascripts/logout_dropdown.js"></script>
</head>
<body>
	<div id="header-container" class="fixed-container">
    	<a href="/events">
    		<div id="home">
    			<i class="icon-home icon-large"></i>
   	 		</div>
   	 	</a>
   	 	<div id="gamified-logo"></div>
   	 	<div id="dd" class="wrapper-dropdown-5" tabindex="1">
			<i class="icon-user icon-large"></i>
    		<p>
    			<% if(user && user.name) { %>
    				<%= user.name %>
    			<% } %>
    		</p>
    		<ul class="dropdown">
        		<li><a href="/logout"><i class="icon-signout"></i>Log out</a></li>
    		</ul>
    	</div>
	</div>

	<div id="contents-container">
		<h2><%= checkpoint.title %></h2>
		<hr>
		<p><%= checkpoint.task.description %></p>
		<center>
			<% if (checkpoint.task.URL == 'NONE') {%>
			<button id="unenroll-button">
				<i class="icon-remove-sign icon-large"></i>
				<p>No task media file</p>
			</button>
			<% } else { %>
			<button onClick=getTaskFile() id="enroll-button">
				<i class="icon-cloud-download icon-large"></i>
				<p>View task's media file</p>
			</button>
			<% } %>	
		</center>
		</ul>
		
		<% if (checkpoint.task.accepts == 'audio/*') {%>
			<input id="audiofile" type="file" accepts="audio/*;capture=microphone">
		<% } else if (checkpoint.task.accepts == 'video/*') { %>
			<input id="videofile" type="file" accepts="video/*;capture=camcorder">
		<% } else if (checkpoint.task.accepts == 'image/*') { %>
			<input id="imagefile" type="file" accepts="image/*;capture=camera">
		<% } else { %>
			<input id="anyfile" type="file" class="hidden"> 
		<% } %>

		<a id="hiddenLink"></a>

		<center id="hiddenUploader">
			<p>Uploading Submission in Progress</p>
			<img src="/images/ajax-loader.gif"></img>
		</center>
	</div>

	<div id="footer-container" class="fixed-container">
		<a id="BackButton" href="/events/<%= evt._id %>/checkpoints">
			<div id="back" class="footer-item">
				<i class="icon-angle-left icon-large"></i>
				<p>Back</p>
			</div>
		</a>
		<a onClick=openFileSelector()>
			<div id="upload" class="footer-item">
				<i class="icon-cloud-upload icon-large"></i>
				<p>Upload Submission</p>
			</div>
		</a>
	</div>

	<script>
		var input = document.querySelector('input[type=file]');
		input.onchange = function () {
  			var file = input.files[0];
  			var eventName = "<%= evt.title %>";
  			var chkptName = "<%= checkpoint.title %>";
  			var uploadToken = "<%= ticket %>";
  			var path = "devices/Web/Gamified/" + eventName + "/" + chkptName + "/submissions/" + file.name;
			uploadFile(uploadToken, path, file);
			$("#hiddenUploader").show();
			$("#hiddenUploader p").show();
			$("#hiddenUploader img").show();
			var looper = setInterval(function() {
				if(uploaded) {
					$("#hiddenUploader img").attr("src", "/images/green-tick.svg");
					$("#hiddenUploader p").text("Your submission is done. Go back to the map and follow the next checkpoint");
					clearInterval(looper);
				}
			}, 1000);
			setTimeout(function() {
				alert("You'll be taken to the maps page now");
				window.location = document.getElementById('BackButton').href;
			}, 5000);
  		}

  		function getTaskFile(){
			$.get("/api/v2/events/<%= evt._id %>/checkpoints/<%= checkpoint._id %>/download", function(data){
				var downloadURL = data.URL;
				$("#hiddenLink").attr("href", downloadURL);
				window.location = document.getElementById('hiddenLink').href;
			});		
  		}

  		function openFileSelector() {
    			$('input').trigger('click');
		}
	</script>
</body>
</html>
