<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title><%= error %> - <%= msg %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="welcome-page">
	    <h1 id="page-title"><%= error %> - <%= msg %></h1>
	    <div id="logo-orienteering"><%= error %> - <%= msg %></div>
	</div>
  </body>
</html>
