<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=no" charset="utf-8" />
	<title>Gamified : Events</title>
	<link rel='stylesheet' href='/stylesheets/participant.css'/>
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Arvo' />
	<link rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css'>
</head>
<body>
	<div id="header-container" class="fixed-container">
    	<a href="events">
    		<div id="home">
    			<i class="icon-home icon-large"></i>
   	 		</div>
   	 	</a>
   	 	<div id="user">
			<i class="icon-user icon-large"></i>
    		<p>
    			<% if(user && user.name) { %>
    				<%= user.name %>
    			<% } %>
    		</p>
    	</div>
	</div>
    
    <!--	
    <div id="profileWrap">
            <div id="profile"></div>
        </div>

        <div id="houseWrap">
            <div id="house"></div>
        </div>
    </div>
	-->
	<div id="contents-container">
		<h2>Enrolled events</h2>
		<ul>
			<% enrolled.forEach(function(evt){ %>
				<li><a href="/events/<%= evt._id %>" class="event-link"><%= evt.title %></a></li>
			<%})%> 
		</ul>
		<h2>All events</h2>
		<ul>
			<% unenrolled.forEach(function(evt){ %>
				<li><a href="/events/<%= evt._id %>" class="event-link"><%= evt.title %></a></li>
			<%})%> 
		</ul>
	</div>
</body>
</html>