<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Show view</title>
  <style>
    .display-button-area { text-align: right; width: 400px; }
    .clear { clear: both;}
    .display-label { display: block; width: 180px; float: left; }
    .display-input { display: block; width: 180px; float: left; }
  </style>
</head>
<body>

	<h2>Details for a Checkin</h2>

  <div class="display-button-area">
    <button id="edit-button" type="button" onClick="window.location='./edit'">Edit</button>
    <button id="cancel-button" type="button" onClick="window.location='../'">Cancel</button>
  </div>

   <div class="display-row">
      <label class="display-label" for="checkpoint">Checkpoint</label>
      <select class="display-input" id="checkpoint" disabled>
        <% if (checkpoints && checkpoints.length) { %>
          <% checkpoints.forEach(function(checkpoint){ %>
            <% if (checkpoint._id === checkin.checkpoint) { %>
              <option value="<%= checkpoint._id %>" selected><%= checkpoint.title %></option>
            <% } %>
            <% if (checkpoint._id !== checkin.checkpoint) { %>
              <option value="<%= checkpoint._id %>"><%= checkpoint.title %></option>
            <% } %>
          <% }) %>
        <% } %>
      </select>
      <div class="clear" />
    </div>

    <div class="display-row">
      <label class="display-label" for="user">User</label>
      <select class="display-input" id="user" disabled>
        <% if (users && users.length) { %>
          <% users.forEach(function(user){ %>
            <% if (user._id == checkin.user) { %>
              <option value="<%= user._id %>" selected><%= user.name %></option>
            <% } %>
            <% if (user._id != checkin.user) { %>
              <option value="<%= user._id %>"><%= user.name %></option>
            <% } %>
          <% }) %>
        <% } %>
      </select>
      <div class="clear" />
    </div>

</body>
</html>