<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Show view</title>
  <style>
    .display-button-area { text-align: right; width: 400px; }
    .clear { clear: both;}
    .display-label { display: block; width: 180px; float: left; }
    .display-input { display: block; width: 180px; float: left; }
  </style>
</head>
<body>

	<h2>Details for a Checkpoint</h2>

  <div class="display-button-area">
    <button id="edit-button" type="button" onClick="window.location='./edit'">Edit</button>
    <button id="cancel-button" type="button" onClick="window.location='../'">Cancel</button>
  </div>

  <div class="display-row">
    <label class="display-label" for="title">Title</label>
    <span class="display-input" id="title"><%= checkpoint.title %></span>
    <div class="clear" />
  </div>
  <h3>Location</h3>
  <div class="display-row">
    <label class="display-label" for="latitude">Latitude</label>
    <span class="display-input" id="latitude"><%= checkpoint.location.latitude %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="longitude">Longitude</label>
    <span class="display-input" id="longitude"><%= checkpoint.location.longitude %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="order">Order</label>
    <span class="display-input" id="order"><%= checkpoint.order %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="type">Type</label>
    <select class="display-input" id="type" disabled>
      <option value="Event">Event</option>
      <option value="Checkpoint" selected>Checkpoint</option>
      <option value="User">User</option>
      <option value="Enrollment">Enrollment</option>
      <option value="Checkin">Checkin</option>
    </select>
    <div class="clear" />
  </div>
  <h3>Task</h3>
  <div class="display-row">
    <label class="display-label" for="task_url">Task URL</label>
    <span class="display-input" id="task_url"><%= checkpoint.task.url %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="task_description">Task Description</label>
    <span class="display-input" id="task_description"><%= checkpoint.task.description %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="task_accepts">Task Accepts</label>
    <span class="display-input" id="task_accepts"><%= checkpoint.task.accepts %></span>
    <div class="clear" />
  </div>
  <div class="display-row">
    <label class="display-label" for="task_upload_url">Task Upload URL</label>
    <span class="display-input" id="task_upload_url"><%= checkpoint.task.upload %></span>
    <div class="clear" />
  </div>

  <ul>
    <li><a href="checkins/">Check-ins</a></li>
  </ul>

</body>
</html>